*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    color:white;
    background-color: rgb(1, 2, 24);
    height: 5rem;
    line-height: 5rem; 
}
.choice{
    height: 9rem;
    width: 9rem;    
    border-radius: 5rem;   
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.choice:hover{    
    cursor: pointer;
}

.choice:active{
    background-color: rgb(1, 2, 24);  

}

img{

    height: 8rem;
    width: 8rem;
    object-fit: cover;
    border-radius: 5rem; 
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
    font-size: 2rem;   
}
#user-score ,#comp-score{
    font-size: 3rem;
}
.msg-container{
    margin-top: 3rem;
}
#msg{
   
    background-color: rgb(1, 2, 24);
    color: white;
    display: inline-block;
    font-size: 2rem; 
    padding: 1rem;
    border-radius: 1rem;    
}

